
# PlanAhead Generated physical constraints 

NET "a[0]"									LOC = AG19   	| IOSTANDARD = LVCMOS18 ;
NET "a[1]"									LOC = AH19     | IOSTANDARD = LVCMOS18 ;
NET "a[2]"									LOC = AH17      | IOSTANDARD = LVCMOS18 ;
NET "a[3]"									LOC = AF16      | IOSTANDARD = LVCMOS18 ;
NET "b[0]"									LOC = AG15       | IOSTANDARD = LVCMOS18 ;
NET "b[1]"									LOC = AH15       | IOSTANDARD = LVCMOS18 ;
NET "b[2]"									LOC = AG14      | IOSTANDARD = LVCMOS18 ;
NET "b[3]"									LOC = AF15      | IOSTANDARD = LVCMOS18 ;


//NET "sw[8]"									LOC = AE10      | IOSTANDARD = LVCMOS15 ;
//NET "sw[9]"									LOC = AE12      | IOSTANDARD = LVCMOS15 ;
//NET "sw[10]"								LOC = AF12      | IOSTANDARD = LVCMOS15 ;
//NET "sw[11]"								LOC = AE8       | IOSTANDARD = LVCMOS15 ;
//NET "sw[12]"								LOC = AF8       | IOSTANDARD = LVCMOS15 ;
//NET "sw[13]"								LOC = AE13      | IOSTANDARD = LVCMOS15 ;
//NET "sw[14]"								LOC = AF13      | IOSTANDARD = LVCMOS15 ;
//NET "sw[15]"								LOC = AF10      | IOSTANDARD = LVCMOS15 ;

# PlanAhead Generated IO constraints 

NET "led_clk" IOSTANDARD = LVCMOS33;
NET "led_clr" IOSTANDARD = LVCMOS33;
NET "led_do" IOSTANDARD = LVCMOS33;
NET "led_pen" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "clk" LOC = AD12  | IOSTANDARD = LVDS;
NET "reset" LOC = Y13  | IOSTANDARD = LVCMOS15;
#NET "triled_R" LOC = U21;
#NET "triled_G" LOC = U22;
#NET "triled_B" LOC = V22;
NET "led_clk" LOC = J16;
NET "led_clr" LOC = H16;
NET "led_do" LOC = H11;
NET "led_pen" LOC = H12;